div{
    background-color: #454545;
    display: inline-block
}

ul{
    margin:0;
    padding: 0 ;
}

li{display: inline-block;
}

a, span{
    text-decoration:0;
    color: silver;
    padding: 0 10px;
    margin: 10 px;
}

a:hover{
    color: white;
    background-color: black;
}

#menu{
    width:80%;
}
#user{
    display: inline-block;
    text-align: right;
    width:20%;
    color: silver;
}