nav{
    background-color: #454545;
    width:80%;
    display:inline-block;}

ul, span{
    display: inline;
    margin:0;
    padding: 0 ;
    color:silver;}

div{   
    display:inline-block;
    width:20%;
    background-color: #454545;
    text-align: right;}

span{
    margin:20px;
    color:silver;}
       
a, li{
    display: inline;
    text-decoration:0;
    padding: 0 10px;
    margin: 10 px;
    color: silver;}

a:hover{
    color: white;
    background-color: black;}


