<div id = "box">
    <table>
        <tr>
            <td colspan ="2"><h4>Login:</h4></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
                <input [(ngModel)]="username" type="text" placeholder="Username">
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input [(ngModel)]="password" type="password" placeholder="password">
            </td>
        </tr>
        
        <tr>
            <td colspan ="2">
                {{message}}
            </td>
        </tr>
    </table>
    <button (click)="login()" class = "btn btn-primary">Login</button>
    <p></p>
</div>
